@charset "utf-8";
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { min-height: 100vh; }
table { border-collapse: collapse; }
img { display: block; }
button { cursor: pointer; font-family: inherit; }
a { text-decoration: none; color: inherit; }
a:visited { color: inherit; }
ul, li { list-style: none; }
